<header>
  <nav class="top-nav blue-grey darken-4">
    <div class="container">
      <div class="nav-wrapper"><a class="page-title">Schedule a post</a></div>
    </div>
  </nav>
</header>

<div class="row">
  <div ng-if="loading" class="progress">
    <div class="indeterminate"></div>
  </div>

  <ul id="listPosts" class="collapsible popout col s12 m7 offset-m4" data-collapsible="accordion">

    <li ng-repeat="post in posts">
      <div class="collapsible-header" ng-click="setSelectedPost(post.id)">
        {{post.title}}
      </div>

      <div class="collapsible-body clearfix">

        <p class="right">
          <a data-target="schedulePostModal" class="btn btn-floating btn-small waves-effect waves-light green">
            <i class="material-icons">schedule</i>
          </a>

          <a data-target="calendarModal" ng-click="findSchedulesByPost()" class="btn btn-floating btn-small waves-effect waves-light blue">
            <i class="material-icons">date_range</i>
          </a>
        </p>

        <p class="left">
          {{post.content | limitTo: 100}}
          <span ng-show="post.content.length > 100">...</span>
        </p>

      </div>
    </li>

  </ul>
</div>

<div id="schedulePostModal" class="modal">
  <div class="modal-content">
    <h4>Schedule</h4>

    <hr>

    <form id="eventForm" name="eventForm" ng-submit="save()" class="col s12 m8 offset-m3" ng-init="init()">

      <label>Initial date</label>

      <div class="row">
        <p class="input-field col s12 m8">
          <input type="datetime-local" ng-model="event.initialDate" 
                  id="initialDate" name="initialDate" required/>
        </p>
      </div>

      <label>Profile</label>

      <div class="row">
        <div class="input-field col s12 m8">
          <p ng-if="profiles.length == 0">There is no profiles</p>

          <select ng-if="profiles.length > 0" 
                  ng-model="event.profile" 
                  ng-options="profile.name for profile in profiles track by profile.id"
                  id="profile" name="profile" class="browser-default" required>
          </select>
        </div>
      </div>

      <label>Repeat?</label>

      <div class="row">
        <p class="input-field col s12 m12">
          <div class="switch">
            <label>
                No
                <input type="checkbox" ng-model="repeat">
                <span class="lever"></span>
                Yes
            </label>
          </div>
        </p>
      </div>

      <div ng-show="repeat">

        <label>Limit date</label>

        <div class="row">
          <p class="input-field col s12 m8">
            <input type="date" ng-model="event.limitDate" id="limitDate" name="limitDate" />
          </p>
        </div>

        <label>Period</label>

        <div class="row">
          <div class="input-field col s12">
            <p class="range-field col s12 m8">
              <input type="range" ng-model="event.interval" 
                     name="interval" id="interval" min="1" max="60" />
            </p>

            <select class="col s12 m4 right browser-default" 
                    ng-model="event.period" 
                    ng-options="period.name for period in periods track by period.name"
                    id="period" name="period" required>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <button type="submit" ng-class="{'disabled': eventForm.$invalid}" 
                class="btn waves-effect waves-light green">
          <i class="material-icons right">send</i> Save
        </button>
      </div>
    </form>
  </div>
</div>

<div id="calendarModal" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Schedule</h4>
    
  </div>
</div>