<header>
  <nav class="top-nav blue-grey darken-4">
    <div class="container">
      <div class="nav-wrapper"><a class="page-title">Posts</a></div>
    </div>
  </nav>
</header>

<div class="row">
  <div ng-if="loading" class="progress">
    <div class="indeterminate"></div>
  </div>

  <div ng-if="drafts.length < 1" class="row">
    <div class="col s12 m4 offset-m5">
      <div class="card grey lighten-5">
        <div class="card-content dark-text">
          <span class="card-title">There is no posts to show</span>
          <p></p>
        </div>
        <div class="card-action">
          <a href="/#!/newPost" class="black-text">Create one</a>
        </div>
      </div>
    </div>
  </div>

  <ul ng-if="drafts.length > 0" ng-repeat="draft in drafts" 
      class="collection col s12 m7 offset-m4">
    <li class="collection-item avatar">
      <span class="title">{{draft.title}}</span>
      <p class="right">
        <a data-target="uploadPhotoModal"
           class="btn btn-floating btn-small waves-effect waves-light blue"
           ng-click="setSelectedPost(draft.id)">
          <i class="material-icons">insert_photo</i>
        </a>
        <a data-target="deletePostModal" 
           class="btn btn-floating btn-small waves-effect waves-light red"
           ng-click="setSelectedPost(draft.id)">
          <i class="material-icons">delete_forever</i>
        </a>
      </p>
      <p>{{draft.content}}</p>
      <p>
        <a data-target="photoModal" href="" ng-click="setSelectedPost(draft.id);findAllPhotos();">Show images</a>
      </p>
    </li>
  </ul>
</div>

<!-- DELETE POST MODAL -->
<div id="deletePostModal" class="modal">
  <div class="modal-content">
    <h4>Delete the post</h4>
    <p>The post will be deleted permanently</p>
  </div>
  <div class="modal-footer">
    <a ng-click="deleteDraft()" class="modal-action modal-close waves-effect waves-green btn-flat">
      Yes, delete the post
    </a>
    <a class="modal-action modal-close waves-effect waves-red btn-flat">
      No, cancel this action
    </a>
  </div>
</div>

<!-- UPLOAD PHOTO MODAL -->
<div id="uploadPhotoModal" class="modal">
  
  <form ng-submit="addPhoto()" name="imageForm">
    <div class="modal-content">
      <h4>Add a photo</h4>

      <div ng-if="imageUploading" class="progress">
        <div class="indeterminate"></div>
      </div>

      <div class="file-field input-field">
        <div class="btn">
          <span>Image</span>
          <input ng-model="image" valid-file ng-required="true" ngf-select
                 ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB"
                 type="file" id="image" name="image">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button type="submit"
              class="btn btn-small waves-effect waves-light green" 
              ng-disabled="imageForm.$invalid || imageUploading">
        Save
      </button>

      <a class="modal-action modal-close btn-flat" ng-disabled="imageUploading">
        Cancel
      </a>
    </div>
  </form>

</div>

<!-- PHOTO MODAL -->
<div id="photoModal" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Photos</h4>

    <div class="col m4 offset-m5 s12" ng-if="images.length == 0">
      <p>There is no images to show</p>
    </div>

    <div class="row" ng-if="images.length > 0">
      <div class="col m4 s12" ng-repeat="image in images">
        <img class="materialboxed" width="200" ng-src="data:image/*;base64,{{image.base64Image}}">
      </div>
    </div>
    
  </div>
</div>
