<header>
  <nav class="top-nav blue-grey darken-4">
    <div class="container">
      <div class="nav-wrapper"><a class="page-title">Profiles</a></div>
    </div>
  </nav>
</header>

<div ng-if="loading" class="progress">
  <div class="indeterminate"></div>
</div>

<div class="row">

  <table ng-if="!loading" class="col s12 m8 offset-m3 responsive-table highlight">
    <thead>
      <tr>
        <th>Name</th>
        <th>Token</th>
        <th>Created at</th>
        <th>Expires at</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="profile in profiles">
        <td>{{profile.name}}</td>
        <td>
          <textarea class="materialize-textarea" disabled>{{profile.token}}</textarea>
        </td>
        <td>{{profile.createdAt}}</td>
        <td>{{profile.expires}}</td>
      </tr>
    </tbody>

  </table>

</div>